.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    padding: 0.25rem 0.75rem;
    border: 2px solid #000;
    margin-top: 0.5rem;
    cursor: pointer;
    color: #444;

    &.active {
        background-color: #444;
        color: #fff;
    }

    &:hover {
        background-color: #bbb;
        color: #000;

        &.active {
            background-color: #000;
            color: #fff;
            border: 2px solid #fff;
            outline: 2px solid #000;
        }

        h3 {
            text-decoration: underline;
            text-underline-offset: 4px;
        }
    }
}

h3 {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin-bottom: 8px;
}

span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 0.5rem 0 0 0;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 8px 0;
}